:root { 
  --black: #000000;
  --gray03: #bdbdbd;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 12px;
  --font-size-xl: 30px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 96px;
 
  --font-family-inter: "Inter", Helvetica;
}
.ui---30-regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.ui---16-medium {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.ui---16-regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
