.weather {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 67.0px;
  min-height: 186px;
  width: 189px;
}

.place {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 31px;
  text-align: center;
  width: 172px;
}

.overlap-group {
  align-self: flex-end;
  height: 155px;
  position: relative;
  width: 180px;
}

.text-1 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 180px;
}

.h-50-l40 {
  color: var(--black);
  font-weight: 400;
  left: 3px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 112px;
  width: 139px;
}

