:root { 
  --black: #000000;
  --blue-secondary: #2a9d8f;
  --gray03: #00ffff;
  --gray04: #666666;
  --ship-gray: #3c3c4399;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 12px;
  --font-size-xl: 30px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 96px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-inter-light: "Inter-Light", Helvetica;
  --font-family-inter-medium: "Inter-Medium", Helvetica;
  --font-family-inter-semibold: "Inter-SemiBold", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
}

.ui---14-regular {
  font-family: var(--font-family-inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.ui---30-semi2 {
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.ui---30-semi2 {
  font-family: var(--font-family-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.ui---30-regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.ui---16-medium {
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.ui---30-medium {
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.ui---16-regular2 {
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.ui---16-regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
