:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --gray03: #00ffff;
  --ship-gray: #3c3c4399;
  --white: #ffffff;
 
  --font-size-l: 15px;
  --font-size-m: 12px;
  --font-size-xl: 16px;
  --font-size-xxl: 17px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 48px;
  --font-size-xxxxxl: 96px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-inter-light: "Inter-Light", Helvetica;
  --font-family-inter-medium: "Inter-Medium", Helvetica;
  --font-family-inter-semibold: "Inter-SemiBold", Helvetica;
}
.ui---30-semi {
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.ui---30-regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.ui---16-medium {
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.ui---16-regular {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-medium-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-black-17px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-ship-gray-17px {
  color: var(--ship-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-96px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 400;
}
