.outfit-of-the-day {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 16px;
  min-height: 401px;
  position: absolute;
  top: 18px;
  width: 495px;
}

.outfit-of-the-day-1 {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-left: 3.04px;
  margin-top: -1px;
  min-height: 24px;
  width: 492px;
}

.overlap-group1 {
  height: 243px;
  margin-top: 1px;
  position: relative;
  width: 490px;
}

.rectangle-242 {
  background-color: #d9d9d9;
  height: 242px;
  left: 0;
  position: absolute;
  top: 0;
  width: 489px;
}

.line-81 {
  height: 241px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 490px;
}

.line-82 {
  height: 243px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 488px;
}

.consider-wearing {
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  margin-left: 1.52px;
  margin-top: 9px;
  min-height: 95px;
  width: 486px;
}

